header{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: red;
}
header{
    border: 10px solid purple;
    padding: 10px;
    background-color: purple;  
}
header h1{
    text-align: center;
}
nav ul li{
    list-style: none;
   
    }
.nav ul li{
    text-decoration-line: none;
}
.section{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: pink;
}
content{
    text-align: center;
    background-color: pink;
}


h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.p{
    font-size: 25px;;
}
h3{
    font-size: 30px;
    color: purple;
}
  


